<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
            
                    
                    <div class="row">
                            
                             <div class="card"style="min-height:100%;" >
                                
                                <div class="card-body ">
                                <a href=""><img src="" class="img-fluid" alt="" style="height:400px; width:100%;object-fit:cover;"/></a>
                                <h6 class="card-subtitle mb-2"><%= contact.nama %></h6>
                                <h5 class="card-subtitle mb-2"><b><%= contact.harga %></b></h5>
                                <h5 class="card-subtitle mb-2"><b><%= contact.ukuran %></b></h5>
                                <p><img src="img/fi_calendar.png" class="me-2" alt="" />Updated at 4 Apr 2022, 09.00</p>
                                <a class="btn btn-success mx-auto" href="/" role="button">Back</a>
                                
                                </div>
                            </div> 
                          



                           

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

<%- include('layouts/footer') %> 